body {
  font-family: Georgia, 'Times New Roman', Times, serif; 
}

#singaporeMap {
  height: 555px;
  width: 100%;
}

/* Adjust z-index for Leaflet search control */
.leaflet-control-search {
  z-index: 1001 !important;
}

/* Header styling */
header {
  display: flex;
  align-items: center;
  background-color: #ad9551;
  color: white;
  padding: 10px 20px;
  text-align: center;
}

header img {
  max-width: 150px;
  height: auto;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

/* Header link styling */
nav ul li a {
  color: black;
  text-decoration: none;
}

/* Adjust width of home and contact icons */
nav ul li a img {
  width: 40px; 
  height: auto; 
}

/* Styling for live date and prayer timing sections */
#liveDates {
  background-color: #f2f2f2;
  padding: 10px 20px;
  text-align: center;
}

#liveDate,
#islamicDate,
#prayerTiming {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#prayerTiming span {
  background-color: #ad9551;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 0 10px;
}

/* Styling for map container */
#map-container {
  margin: 20px 0;
  border-radius: 15px; /* rounded map */
  overflow: hidden; 
}

/* Styling for search container */
#search-container {
  position: absolute;
  margin: auto;
  padding: 0.5%;
  border-radius: 15px;
  top: 20px;
  left: 78%;
  transform: translateX(-50%);
  text-align: center;
  color: bisque;
  z-index: 1000;
}

#searchTerms {
  padding: 10px;
  border-radius: 15px;
  border: 1px solid #ccc;
  width: auto; 
  max-width: 400px; /* Maximum width for larger screens */
}

#searchBtn,
#toggleSearchBtn {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #2a5f2b;
  color: white;
  cursor: pointer;
}

/* Styling for search results */
#search-results {
  list-style: none;
  padding: 0;
  margin: 0;
}

#search-results li {
  cursor: pointer;
  padding: 5px;
}

#search-results li:hover {
  background-color: #f2f2f2;
}

/* Footer styling */
footer {
  background-color: #2a5f2b;
  color: white;
  padding: 10px 20px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Media Queries */
@media only screen and (max-width: 768px) {
  #search-container {
    left: 50%;
  }
}

@media only screen and (max-width: 576px) {
  #search-container {
    padding: 0.25%;
  }
}
