body {
  font-family: Georgia, 'Times New Roman', Times, serif; 
  background-color: #ad9551;
}

#singaporeMap {
  height: 550px;
  width: 100%;
  border-radius: 10px / 30px;
}

/* Adjust z-index for Leaflet search control */
.leaflet-control-search {
  z-index: 1001 !important;
}

/* Header styling */
header {
  display: flex;
  height:min-content;
  align-items: center;
  background-color: white;
  color: white;
  padding: 10px;
  text-align: center;
}

header img {
  max-width: 200px;
  height: auto;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

/* Header link styling */
nav ul li a {
  color: black;
  text-decoration: none;
}

/* Adjust width of home and contact icons */
nav ul li a img {
  width: 40px; 
  height: auto; 
}

.marker-cluster div {
  background-color: deeppink; /* Default color */
}

/* Styling for live date and prayer timing sections */
#liveDates {
  background-color: #f2f2f2;
  padding: 10px 20px;
  text-align: center;
}


/* Styling for map container */
#map-container {
 margin: 8px;
 border-bottom:0cm;
  border-radius: 10px / 30px; /* rounded map */
  overflow: hidden; 
}

/* Styling for search container */
#search-container {
  position: absolute;
  margin: auto;
  padding: 1.5%;
  top: 20px;
  left: 83%;
  transform: translateX(-50%);
  text-align: center;
  color: bisque;
  z-index: 1000;
  background-color: #ad9551;
}

#searchTerms {
  padding: 10px;
  border-radius: 15px;
  border: 1px solid #ccc;
  width: auto; 
  max-width: 400px; /* Maximum width for larger screens */
}

#searchBtn,
#toggleSearchBtn {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #2a5f2b;
  color: white;
  cursor: pointer;
}

/* Styling for search results */
#search-results {
  list-style: none;
  padding: 0;
  margin: 0;
}

#search-results li {
  cursor: pointer;
  padding: 5px;
}

#search-results li:hover {
  background-color: #f2f2f2;
}

/* Footer styling */
footer {
  background-color: #2a5f2b;
  color: white;
  padding: 10px 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Media Queries */
@media only screen and (max-width: 768px) {
  #search-container {
    left: 50%;
  }
}

@media only screen and (max-width: 576px) {
  #search-container {
    padding: 0.25%;
  }
}

body {
  font-family: Verdana, sans-serif; 
}

#liveDateTimeRow {
  background: linear-gradient(to bottom, #ad9551, #99e6ff); 
  padding: 0px; 
  text-align: center; 
}

.prayerTimingItem {
  display: inline-block;
  margin-right: 10px;
}

/* Style for the card */
.card {
  margin: 20px;
  border: 1px solid #000;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* Style for the card header */
.card-header {
  background: linear-gradient(to right, #ad9551, #2a5f2b); /* Gradient background */
  color: black;
  padding: 10px;
  font-weight: bold;
  border-bottom: 1px solid #000;
}

/* Style for the card body */
.card-body {
  padding: 20px;
}

/* Style for the blockquote */
.blockquote {
  font-style: italic;
  border-left: 5px solid #2a5f2b; /* Adjust color as needed */
  padding-left: 15px;
  color: white;
}

/* Style for the blockquote footer */
.blockquote-footer {
  margin-top: 10px;
  font-size: 14px;
  color: black;
}

#quote {
  color: black;
}